body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.tabuleiro .row .nobordertop {
    border-top: hidden;
    padding-top: 3px;
}

.tabuleiro .row .noborderleft {
    border-left: hidden;
    padding-left: 3px;
}

.tabuleiro .row .noborderright {
    border-right: hidden;
    padding-right: 3px;
}

.tabuleiro .row .noborderbottom {
    border-bottom: hidden;
    padding-bottom: 3px;
}

.tabuleiro > div > div {
    height: 100px;
    width: 100px;
    border-style: solid;
}

.tabuleiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.row{
    display: flex;
}

.cel:hover {
   background-color: rgb(192, 81, 118); 
}

.cel {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    

}

.newgame {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.buttonng {
   text-align: center;
}